name: Update App Data
on:
  schedule:
    - cron: '0 0 * * *' # Gira ogni notte a mezzanotte
  workflow_dispatch: # Questo ti permette di avviarlo a mano con un tasto!

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: pip install requests

      - name: Run fdroid_scraper_macos
        run: python fdroid_scraper_macos.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add apps.json
          git commit -m "Update apps.json" || echo "No changes to commit"
          git push
